# GÖREV-1
Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.
§ Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
§ Soru 3: Kaç unique PRICE vardır?
§ Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
§ Soru 5: Hangi ülkeden kaçar tane satış olmuş?
§ Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
§ Soru 7: SOURCE türlerine göre satış sayıları nedir?
§ Soru 8: Ülkelere göre PRICE ortalamaları nedir?
§ Soru 9: SOURCE'lara göre PRICE ortalamaları nedir?
§ Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?

In [333]:
# Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_excel("C:/Users/HP-PC/Desktop/persona_27052023.xlsx")
data.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [19]:
data.shape

(5000, 5)

In [20]:
data.dtypes

PRICE       int64
SOURCE     object
SEX        object
COUNTRY    object
AGE         int64
dtype: object

In [21]:
data.columns

Index(['PRICE', 'SOURCE', 'SEX', 'COUNTRY', 'AGE'], dtype='object')

In [22]:
data.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            4990, 4991, 4992, 4993, 4994, 4995, 4996, 4997, 4998, 4999],
           dtype='int64', length=5000)

In [37]:
data["PRICE"].describe()

count    5000.000000
mean       34.132000
std        12.464897
min         9.000000
25%        29.000000
50%        39.000000
75%        39.000000
max        59.000000
Name: PRICE, dtype: float64

In [38]:
data.isnull().values.any()

False

In [39]:
data.isnull().sum()

PRICE      0
SOURCE     0
SEX        0
COUNTRY    0
AGE        0
dtype: int64

In [42]:
data["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [45]:
data.loc[0:4, 'PRICE':'COUNTRY']

   PRICE   SOURCE   SEX COUNTRY
0     39  android  male     bra
1     39  android  male     bra
2     49  android  male     bra
3     29  android  male     tur
4     49  android  male     tur

In [47]:
data.iloc[0:2, 1:3]

    SOURCE   SEX
0  android  male
1  android  male

In [49]:
"PRICE" in data

True

In [54]:
data[data["AGE"]>30]["AGE"].count()

946

In [12]:
# Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
data["SOURCE"].nunique()

2

In [169]:
data["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [13]:
# Soru 3: Kaç unique PRICE vardır?
data["PRICE"].nunique()

6

In [17]:
# Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
data["PRICE"].value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

In [18]:
# Soru 5: Hangi ülkeden kaçar tane satış olmuş?
data["COUNTRY"].value_counts() #Ülke sayısı

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [171]:
data.groupby("COUNTRY")["PRICE"].count() #Ülkelere göre fiyat sayısı

COUNTRY
bra    1496
can     230
deu     455
fra     303
tur     451
usa    2065
Name: PRICE, dtype: int64

In [59]:
# Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
data.groupby("COUNTRY").agg({"PRICE": "sum"}).sort_values("PRICE", ascending=False)

         PRICE
COUNTRY
usa      70225
bra      51354
tur      15689
deu      15485
fra      10177
can       7730

In [ ]:
# Soru 7: SOURCE türlerine göre satış sayıları nedir?

In [62]:
data.groupby("SOURCE").agg({"PRICE":"count"})

         PRICE
SOURCE
android   2974
ios       2026

In [176]:
#Buda kullanılabilinir:
data["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [177]:
# Soru-8: Ülkelere göre PRICE ortalamaları nedir?
data.groupby(by=["COUNTRY"]).agg({"PRICE":"mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

In [178]:
#Soru-9: SOURCE'lara göre PRICE ortalamaları nedir?
data.groupby(by=["SOURCE"]).agg({"PRICE":"mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

In [77]:
# Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?
data.groupby(["COUNTRY", "SOURCE"]).agg({"PRICE":["mean"]})

                     PRICE
                      mean
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

# GÖREV-2
COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?

In [334]:
data.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE":["mean"]}).head()

                                PRICE
                                 mean
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897

# GÖREV-3
Yukarıda bulunan çıktıyı PRICE’a göre sıralayınız.

In [336]:
agg_df = data.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE":"mean"}).sort_values("PRICE", ascending=False)
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

# GÖREV-4
Indekste yer alan isimleri değişken ismine çeviriniz.

In [337]:
agg_df.reset_index(inplace=True)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

# GÖREV-5 !!!!!!!!!!!!!
Age değişkenini kategorik değişkene çeviriniz ve agg_df’e ekleyiniz.

• Age sayısal değişkenini kategorik değişkene çeviriniz.
• Aralıkları ikna edici şekilde oluşturunuz.
• Örneğin: ‘0_18', ‘19_23', '24_30', '31_40', '41_70

In [338]:
#Hocanın yaptığı:
agg_df["AGE"].describe().T #Önce describe ile ortalama, max, min vs görelim ve buna göre ayırma işlemini yapalım yaş değişkenimizi.

count    348.000000
mean      28.258621
std       11.379075
min       15.000000
25%       19.000000
50%       25.000000
75%       34.000000
max       66.000000
Name: AGE, dtype: float64

In [339]:
#Age değişkeninin nerelerden bölüneceğini belirtelim:
bins = [0, 18, 23, 30, 40, agg_df["AGE"].max()]

In [340]:
#Bölünen noktalara karşılık isimlendirmelerin ne olacağını ifade edelin:
mylabels = ["0_18", "19_23", "24_30", "31_40",  "41_" + str(agg_df["AGE"].max())]

In [341]:
#AGE'i bölelim:
agg_df["AGE_CAT"] = pd.cut(agg_df["AGE"], bins, labels = mylabels)
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT
0     bra  android    male   46   59.0   41_66
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [332]:
#Benim yaptığım:

#bins = [0, 20, 40, 60, 80]
#agg_df['AGE_CAT'] = pd.cut(data['AGE'], bins)
#agg_df.head()

# GÖREV-6
Yeni seviye tabanlı müşterileri (persona) tanımlayınız.
 
• Yeni seviye tabanlı müşterileri (persona) tanımlayınız ve veri setine değişken olarak ekleyiniz.
• Yeni eklenecek değişkenin adı: customers_level_based
• Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek "customers_level_based" değişkenini oluşturmanız gerekmektedir.

In [ ]:
#Hocanın Yaptığı:

In [342]:
#Öncelikle değişken isimlerine bakalım:
agg_df.columns

Index(['COUNTRY', 'SOURCE', 'SEX', 'AGE', 'PRICE', 'AGE_CAT'], dtype='object')

In [343]:
#Gözlem değerlerine nasıl erişiriz:
for row in agg_df.values:
    print(row)

['bra' 'android' 'male' 46 59.0 '41_66']
['usa' 'android' 'male' 36 59.0 '31_40']
['fra' 'android' 'female' 24 59.0 '24_30']
['usa' 'ios' 'male' 32 54.0 '31_40']
['deu' 'android' 'female' 36 49.0 '31_40']
['deu' 'android' 'female' 51 49.0 '41_66']
['deu' 'ios' 'male' 20 49.0 '19_23']
['usa' 'android' 'female' 47 49.0 '41_66']
['fra' 'ios' 'male' 20 49.0 '19_23']
['usa' 'ios' 'male' 59 46.5 '41_66']
['deu' 'android' 'male' 15 46.5 '0_18']
['bra' 'android' 'female' 30 45.666666666666664 '24_30']
['usa' 'android' 'female' 61 45.666666666666664 '41_66']
['tur' 'ios' 'male' 24 45.0 '24_30']
['deu' 'android' 'male' 34 45.0 '31_40']
['tur' 'ios' 'female' 18 44.0 '0_18']
['bra' 'android' 'female' 43 44.0 '41_66']
['bra' 'ios' 'female' 22 44.0 '19_23']
['tur' 'android' 'female' 32 43.0 '31_40']
['bra' 'android' 'female' 39 43.0 '31_40']
['tur' 'ios' 'male' 37 42.333333333333336 '31_40']
['tur' 'android' 'male' 15 42.333333333333336 '0_18']
['usa' 'ios' 'male' 28 42.333333333333336 '24_30']
['bra' 'ios' 'male' 43 42.333333333333336 '41_66']
['deu' 'android' 'male' 20 41.72727272727273 '19_23']
['usa' 'ios' 'male' 30 41.72727272727273 '24_30']
['tur' 'android' 'female' 18 41.5 '0_18']
['usa' 'android' 'male' 47 41.5 '41_66']
['tur' 'android' 'male' 25 41.5 '24_30']
['usa' 'ios' 'female' 59 41.5 '41_66']
['fra' 'android' 'male' 23 41.30769230769231 '19_23']
['usa' 'ios' 'male' 31 41.0 '31_40']
['tur' 'android' 'female' 15 41.0 '0_18']
['fra' 'ios' 'male' 17 40.666666666666664 '0_18']
['tur' 'ios' 'female' 21 40.666666666666664 '19_23']
['tur' 'android' 'female' 31 40.666666666666664 '31_40']
['tur' 'android' 'male' 27 40.666666666666664 '24_30']
['fra' 'android' 'male' 19 40.53846153846154 '19_23']
['bra' 'android' 'male' 24 40.42857142857143 '24_30']
['can' 'android' 'male' 30 40.25 '24_30']
['can' 'android' 'male' 20 40.111111111111114 '19_23']
['usa' 'android' 'male' 43 39.90909090909091 '41_66']
['tur' 'android' 'male' 26 39.666666666666664 '24_30']
['bra' 'android' 'male' 40 39.625 '31_40']
['bra' 'android' 'male' 15 39.3448275862069 '0_18']
['usa' 'ios' 'female' 19 39.285714285714285 '19_23']
['tur' 'android' 'male' 49 39.0 '41_66']
['bra' 'ios' 'female' 19 39.0 '19_23']
['usa' 'ios' 'male' 50 39.0 '41_66']
['bra' 'ios' 'female' 25 39.0 '24_30']
['deu' 'android' 'female' 38 39.0 '31_40']
['deu' 'ios' 'male' 16 39.0 '0_18']
['fra' 'android' 'female' 21 39.0 '19_23']
['fra' 'android' 'male' 33 39.0 '31_40']
['tur' 'ios' 'female' 31 39.0 '31_40']
['fra' 'ios' 'male' 51 39.0 '41_66']
['bra' 'android' 'female' 32 39.0 '31_40']
['tur' 'ios' 'male' 16 39.0 '0_18']
['bra' 'ios' 'female' 42 39.0 '41_66']
['tur' 'android' 'male' 17 39.0 '0_18']
['tur' 'android' 'female' 49 39.0 '41_66']
['bra' 'android' 'female' 15 38.714285714285715 '0_18']
['usa' 'ios' 'male' 21 38.53488372093023 '19_23']
['usa' 'ios' 'female' 17 38.45945945945946 '0_18']
['fra' 'ios' 'male' 31 38.375 '31_40']
['tur' 'android' 'male' 16 38.285714285714285 '0_18']
['deu' 'android' 'male' 37 38.166666666666664 '31_40']
['usa' 'ios' 'female' 25 38.0 '24_30']
['deu' 'ios' 'female' 17 37.8235294117647 '0_18']
['can' 'ios' 'male' 17 37.666666666666664 '0_18']
['can' 'android' 'male' 49 37.57142857142857 '41_66']
['bra' 'android' 'female' 29 37.57142857142857 '24_30']
['tur' 'android' 'female' 26 37.57142857142857 '24_30']
['can' 'ios' 'male' 15 37.57142857142857 '0_18']
['bra' 'ios' 'male' 33 37.57142857142857 '31_40']
['fra' 'android' 'female' 15 37.57142857142857 '0_18']
['deu' 'ios' 'female' 18 37.333333333333336 '0_18']
['can' 'android' 'female' 18 37.333333333333336 '0_18']
['tur' 'ios' 'female' 20 37.333333333333336 '19_23']
['deu' 'android' 'male' 23 37.333333333333336 '19_23']
['bra' 'android' 'female' 21 37.292682926829265 '19_23']
['usa' 'android' 'female' 33 37.18181818181818 '31_40']
['bra' 'ios' 'male' 22 37.18181818181818 '19_23']
['bra' 'android' 'male' 17 37.1578947368421 '0_18']
['bra' 'android' 'male' 26 37.095238095238095 '24_30']
['usa' 'android' 'male' 26 37.0 '24_30']
['tur' 'android' 'female' 21 37.0 '19_23']
['deu' 'ios' 'male' 42 37.0 '41_66']
['bra' 'android' 'female' 56 37.0 '41_66']
['bra' 'ios' 'male' 15 36.878787878787875 '0_18']
['usa' 'ios' 'female' 26 36.857142857142854 '24_30']
['bra' 'ios' 'female' 15 36.77777777777778 '0_18']
['bra' 'ios' 'male' 35 36.77777777777778 '31_40']
['fra' 'android' 'female' 16 36.72727272727273 '0_18']
['usa' 'android' 'male' 20 36.64705882352941 '19_23']
['bra' 'ios' 'female' 18 36.5 '0_18']
['bra' 'android' 'male' 44 36.5 '41_66']
['bra' 'android' 'female' 24 36.5 '24_30']
['usa' 'android' 'male' 30 36.142857142857146 '24_30']
['tur' 'android' 'female' 52 36.142857142857146 '41_66']
['usa' 'ios' 'female' 28 36.142857142857146 '24_30']
['deu' 'ios' 'female' 26 36.0 '24_30']
['can' 'android' 'male' 15 36.0 '0_18']
['bra' 'android' 'female' 16 35.94444444444444 '0_18']
['tur' 'android' 'male' 24 35.92307692307692 '24_30']
['usa' 'android' 'male' 51 35.875 '41_66']
['usa' 'ios' 'female' 21 35.8 '19_23']
['usa' 'android' 'female' 19 35.76470588235294 '19_23']
['fra' 'ios' 'male' 19 35.666666666666664 '19_23']
['fra' 'android' 'male' 55 35.666666666666664 '41_66']
['bra' 'android' 'male' 41 35.666666666666664 '41_66']
['tur' 'android' 'male' 22 35.666666666666664 '19_23']
['bra' 'android' 'female' 25 35.666666666666664 '24_30']
['usa' 'android' 'female' 35 35.666666666666664 '31_40']
['usa' 'ios' 'female' 29 35.666666666666664 '24_30']
['bra' 'android' 'female' 17 35.666666666666664 '0_18']
['tur' 'ios' 'female' 19 35.666666666666664 '19_23']
['deu' 'ios' 'female' 16 35.557377049180324 '0_18']
['usa' 'android' 'male' 41 35.42857142857143 '41_66']
['bra' 'android' 'male' 20 35.4 '19_23']
['deu' 'android' 'male' 33 35.36363636363637 '31_40']
['bra' 'ios' 'female' 33 35.36363636363637 '31_40']
['bra' 'ios' 'female' 45 35.36363636363637 '41_66']
['bra' 'android' 'male' 30 35.36363636363637 '24_30']
['deu' 'android' 'female' 24 35.36363636363637 '24_30']
['bra' 'ios' 'male' 17 35.333333333333336 '0_18']
['bra' 'android' 'male' 21 35.25 '19_23']
['usa' 'android' 'female' 49 35.25 '41_66']
['bra' 'android' 'male' 19 35.21621621621622 '19_23']
['bra' 'android' 'female' 19 35.206896551724135 '19_23']
['usa' 'android' 'male' 18 35.19047619047619 '0_18']
['bra' 'ios' 'female' 37 35.111111111111114 '31_40']
['usa' 'ios' 'male' 27 35.111111111111114 '24_30']
['bra' 'android' 'female' 31 35.09756097560975 '31_40']
['usa' 'ios' 'female' 20 35.0 '19_23']
['usa' 'android' 'female' 31 35.0 '31_40']
['fra' 'ios' 'male' 22 35.0 '19_23']
['deu' 'android' 'female' 22 35.0 '19_23']
['can' 'ios' 'male' 16 35.0 '0_18']
['deu' 'ios' 'male' 17 35.0 '0_18']
['usa' 'ios' 'female' 65 35.0 '41_66']
['deu' 'ios' 'male' 25 35.0 '24_30']
['bra' 'android' 'female' 22 34.945945945945944 '19_23']
['usa' 'android' 'female' 16 34.90163934426229 '0_18']
['bra' 'ios' 'male' 23 34.88235294117647 '19_23']
['usa' 'android' 'male' 23 34.84905660377358 '19_23']
['tur' 'ios' 'male' 17 34.806451612903224 '0_18']
['usa' 'android' 'female' 28 34.78947368421053 '24_30']
['usa' 'ios' 'male' 16 34.714285714285715 '0_18']
['bra' 'ios' 'male' 34 34.714285714285715 '31_40']
['usa' 'android' 'male' 22 34.714285714285715 '19_23']
['usa' 'android' 'male' 35 34.714285714285715 '31_40']
['usa' 'android' 'male' 31 34.714285714285715 '31_40']
['usa' 'ios' 'female' 47 34.714285714285715 '41_66']
['usa' 'android' 'male' 15 34.663716814159294 '0_18']
['fra' 'android' 'female' 17 34.65217391304348 '0_18']
['usa' 'android' 'female' 17 34.625 '0_18']
['usa' 'ios' 'male' 18 34.57692307692308 '0_18']
['bra' 'android' 'female' 38 34.55555555555556 '31_40']
['usa' 'ios' 'female' 33 34.55555555555556 '31_40']
['tur' 'android' 'female' 16 34.55555555555556 '0_18']
['deu' 'android' 'female' 25 34.45454545454545 '24_30']
['usa' 'android' 'male' 17 34.45454545454545 '0_18']
['usa' 'android' 'male' 28 34.38461538461539 '24_30']
['bra' 'ios' 'female' 26 34.333333333333336 '24_30']
['usa' 'android' 'female' 21 34.18518518518518 '19_23']
['bra' 'ios' 'female' 54 34.0 '41_66']
['deu' 'android' 'female' 23 34.0 '19_23']
['usa' 'ios' 'male' 26 34.0 '24_30']
['fra' 'ios' 'male' 26 34.0 '24_30']
['bra' 'ios' 'female' 27 34.0 '24_30']
['can' 'android' 'female' 43 34.0 '41_66']
['usa' 'ios' 'female' 22 34.0 '19_23']
['usa' 'ios' 'male' 20 34.0 '19_23']
['bra' 'ios' 'male' 19 34.0 '19_23']
['tur' 'ios' 'female' 23 34.0 '19_23']
['tur' 'ios' 'female' 25 34.0 '24_30']
['tur' 'ios' 'female' 26 34.0 '24_30']
['deu' 'ios' 'female' 22 34.0 '19_23']
['tur' 'ios' 'female' 51 34.0 '41_66']
['deu' 'android' 'male' 21 34.0 '19_23']
['bra' 'ios' 'female' 24 34.0 '24_30']
['usa' 'android' 'male' 16 34.0 '0_18']
['usa' 'ios' 'male' 53 34.0 '41_66']
['usa' 'android' 'female' 42 34.0 '41_66']
['fra' 'android' 'female' 35 34.0 '31_40']
['usa' 'android' 'male' 25 34.0 '24_30']
['usa' 'android' 'female' 25 34.0 '24_30']
['deu' 'ios' 'female' 23 34.0 '19_23']
['bra' 'ios' 'male' 24 33.86486486486486 '24_30']
['usa' 'ios' 'female' 15 33.857142857142854 '0_18']
['usa' 'android' 'female' 22 33.8 '19_23']
['bra' 'ios' 'male' 16 33.76190476190476 '0_18']
['deu' 'android' 'female' 17 33.73684210526316 '0_18']
['bra' 'android' 'female' 37 33.73684210526316 '31_40']
['usa' 'ios' 'male' 15 33.729729729729726 '0_18']
['can' 'ios' 'female' 15 33.705882352941174 '0_18']
['tur' 'android' 'female' 17 33.6875 '0_18']
['bra' 'ios' 'female' 16 33.6875 '0_18']
['fra' 'ios' 'female' 15 33.61538461538461 '0_18']
['bra' 'android' 'female' 45 33.61538461538461 '41_66']
['bra' 'ios' 'male' 44 33.54545454545455 '41_66']
['usa' 'android' 'male' 27 33.285714285714285 '24_30']
['bra' 'android' 'female' 26 33.166666666666664 '24_30']
['usa' 'android' 'female' 23 33.1025641025641 '19_23']
['bra' 'android' 'male' 18 33.054054054054056 '0_18']
['bra' 'ios' 'female' 46 33.0 '41_66']
['usa' 'android' 'male' 42 33.0 '41_66']
['fra' 'ios' 'female' 40 33.0 '31_40']
['fra' 'android' 'male' 25 33.0 '24_30']
['deu' 'ios' 'female' 32 33.0 '31_40']
['usa' 'ios' 'female' 18 32.91304347826087 '0_18']
['deu' 'android' 'male' 17 32.91304347826087 '0_18']
['usa' 'ios' 'male' 17 32.91304347826087 '0_18']
['bra' 'ios' 'female' 20 32.84615384615385 '19_23']
['tur' 'ios' 'male' 15 32.84615384615385 '0_18']
['usa' 'android' 'male' 19 32.80952380952381 '19_23']
['usa' 'ios' 'female' 23 32.80952380952381 '19_23']
['usa' 'ios' 'female' 24 32.75 '24_30']
['bra' 'ios' 'male' 18 32.68421052631579 '0_18']
['usa' 'android' 'female' 15 32.666666666666664 '0_18']
['fra' 'ios' 'female' 31 32.63636363636363 '31_40']
['bra' 'ios' 'female' 17 32.63636363636363 '0_18']
['tur' 'ios' 'female' 22 32.63636363636363 '19_23']
['bra' 'android' 'male' 27 32.63636363636363 '24_30']
['fra' 'ios' 'female' 18 32.57142857142857 '0_18']
['can' 'android' 'female' 19 32.529411764705884 '19_23']
['usa' 'android' 'female' 18 32.40425531914894 '0_18']
['deu' 'android' 'male' 18 32.333333333333336 '0_18']
['usa' 'android' 'male' 21 32.333333333333336 '19_23']
['deu' 'android' 'female' 34 32.333333333333336 '31_40']
['usa' 'android' 'female' 44 32.333333333333336 '41_66']
['fra' 'android' 'male' 32 32.333333333333336 '31_40']
['deu' 'android' 'female' 28 32.333333333333336 '24_30']
['fra' 'android' 'male' 46 32.333333333333336 '41_66']
['bra' 'ios' 'female' 28 32.333333333333336 '24_30']
['deu' 'android' 'male' 31 32.333333333333336 '31_40']
['tur' 'android' 'female' 20 32.333333333333336 '19_23']
['tur' 'android' 'female' 50 32.333333333333336 '41_66']
['bra' 'android' 'female' 41 32.333333333333336 '41_66']
['bra' 'ios' 'female' 35 32.333333333333336 '31_40']
['bra' 'android' 'female' 18 32.25581395348837 '0_18']
['usa' 'ios' 'male' 22 32.170731707317074 '19_23']
['fra' 'android' 'female' 23 32.125 '19_23']
['deu' 'android' 'female' 27 32.125 '24_30']
['deu' 'android' 'female' 15 32.0 '0_18']
['bra' 'android' 'female' 23 31.941176470588236 '19_23']
['usa' 'ios' 'male' 25 31.857142857142858 '24_30']
['bra' 'android' 'male' 36 31.857142857142858 '31_40']
['fra' 'android' 'female' 26 31.857142857142858 '24_30']
['usa' 'ios' 'male' 37 31.727272727272727 '31_40']
['can' 'ios' 'female' 29 31.727272727272727 '24_30']
['can' 'android' 'female' 20 31.5 '19_23']
['usa' 'ios' 'female' 27 31.5 '24_30']
['bra' 'android' 'male' 35 31.5 '31_40']
['usa' 'ios' 'female' 16 31.5 '0_18']
['deu' 'android' 'female' 44 31.5 '41_66']
['deu' 'ios' 'male' 32 31.352941176470587 '31_40']
['usa' 'android' 'female' 20 31.285714285714285 '19_23']
['deu' 'android' 'male' 19 31.22222222222222 '19_23']
['can' 'ios' 'male' 25 31.17391304347826 '24_30']
['tur' 'ios' 'male' 42 31.105263157894736 '41_66']
['can' 'ios' 'male' 57 31.0 '41_66']
['bra' 'android' 'male' 22 31.0 '19_23']
['deu' 'android' 'female' 21 31.0 '19_23']
['bra' 'ios' 'male' 21 31.0 '19_23']
['bra' 'android' 'female' 20 31.0 '19_23']
['tur' 'android' 'female' 19 31.0 '19_23']
['deu' 'ios' 'male' 30 31.0 '24_30']
['usa' 'ios' 'female' 34 30.875 '31_40']
['usa' 'android' 'female' 26 30.77777777777778 '24_30']
['deu' 'ios' 'female' 15 30.666666666666668 '0_18']
['fra' 'ios' 'male' 16 30.666666666666668 '0_18']
['bra' 'android' 'male' 25 30.428571428571427 '24_30']
['bra' 'ios' 'female' 29 30.428571428571427 '24_30']
['bra' 'ios' 'male' 66 30.428571428571427 '41_66']
['fra' 'ios' 'female' 28 30.428571428571427 '24_30']
['usa' 'ios' 'female' 50 30.304347826086957 '41_66']
['usa' 'ios' 'male' 33 30.304347826086957 '31_40']
['usa' 'ios' 'male' 42 30.25 '41_66']
['fra' 'android' 'male' 15 30.25 '0_18']
['tur' 'ios' 'female' 17 30.176470588235293 '0_18']
['bra' 'ios' 'male' 42 30.11111111111111 '41_66']
['usa' 'android' 'female' 24 30.05263157894737 '24_30']
['can' 'android' 'male' 24 29.76923076923077 '24_30']
['bra' 'ios' 'female' 23 29.76923076923077 '19_23']
['bra' 'android' 'male' 29 29.714285714285715 '24_30']
['can' 'android' 'female' 16 29.689655172413794 '0_18']
['bra' 'android' 'male' 16 29.666666666666668 '0_18']
['usa' 'ios' 'female' 35 29.625 '31_40']
['fra' 'ios' 'male' 15 29.0 '0_18']
['fra' 'ios' 'male' 27 29.0 '24_30']
['bra' 'android' 'male' 53 29.0 '41_66']
['fra' 'ios' 'male' 38 29.0 '31_40']
['can' 'ios' 'male' 32 29.0 '31_40']
['usa' 'ios' 'female' 42 29.0 '41_66']
['can' 'ios' 'female' 16 29.0 '0_18']
['deu' 'ios' 'male' 23 29.0 '19_23']
['deu' 'ios' 'female' 24 29.0 '24_30']
['deu' 'android' 'male' 32 29.0 '31_40']
['deu' 'android' 'male' 24 29.0 '24_30']
['deu' 'android' 'female' 33 29.0 '31_40']
['usa' 'ios' 'male' 55 29.0 '41_66']
['tur' 'android' 'female' 56 29.0 '41_66']
['bra' 'ios' 'male' 31 29.0 '31_40']
['usa' 'android' 'male' 38 29.0 '31_40']
['usa' 'android' 'male' 57 29.0 '41_66']
['usa' 'android' 'female' 27 29.0 '24_30']
['usa' 'android' 'male' 34 29.0 '31_40']
['usa' 'android' 'male' 37 29.0 '31_40']
['bra' 'ios' 'male' 37 29.0 '31_40']
['usa' 'android' 'female' 30 29.0 '24_30']
['tur' 'android' 'male' 36 29.0 '31_40']
['tur' 'ios' 'female' 16 29.0 '0_18']
['bra' 'android' 'male' 28 28.23076923076923 '24_30']
['usa' 'android' 'female' 32 28.166666666666668 '31_40']
['usa' 'android' 'female' 34 28.0 '31_40']
['deu' 'android' 'female' 41 27.75 '41_66']
['fra' 'ios' 'female' 16 27.75 '0_18']
['bra' 'ios' 'female' 31 27.571428571428573 '31_40']
['tur' 'ios' 'male' 19 27.333333333333332 '19_23']
['fra' 'android' 'female' 19 27.333333333333332 '19_23']
['deu' 'android' 'female' 16 27.0 '0_18']
['bra' 'android' 'female' 27 26.142857142857142 '24_30']
['usa' 'android' 'male' 24 26.058823529411764 '24_30']
['can' 'android' 'female' 15 25.666666666666668 '0_18']
['tur' 'ios' 'female' 38 25.666666666666668 '31_40']
['fra' 'android' 'male' 21 25.666666666666668 '19_23']
['usa' 'android' 'male' 65 25.666666666666668 '41_66']
['fra' 'ios' 'female' 25 25.0 '24_30']
['bra' 'android' 'female' 34 24.0 '31_40']
['tur' 'android' 'female' 29 24.0 '24_30']
['usa' 'ios' 'male' 36 24.0 '31_40']
['usa' 'ios' 'male' 29 24.0 '24_30']
['bra' 'android' 'female' 28 22.333333333333332 '24_30']
['tur' 'ios' 'male' 21 22.333333333333332 '19_23']
['usa' 'android' 'male' 29 22.333333333333332 '24_30']
['bra' 'ios' 'male' 36 22.333333333333332 '31_40']
['bra' 'android' 'male' 23 21.5 '19_23']
['tur' 'android' 'male' 21 19.0 '19_23']
['tur' 'ios' 'male' 47 19.0 '41_66']
['bra' 'ios' 'female' 34 19.0 '31_40']
['bra' 'ios' 'male' 47 19.0 '41_66']
['usa' 'ios' 'female' 38 19.0 '31_40']
['usa' 'ios' 'female' 30 19.0 '24_30']
['can' 'android' 'female' 27 19.0 '24_30']
['fra' 'android' 'male' 18 19.0 '0_18']
['deu' 'android' 'male' 26 9.0 '24_30']

In [344]:
#Alt tire("_") ile birleştirmek için şöyle yapıyoruz: 
#Yukarıda bulunan gözlem değerlerinden bize lazım olanlarını seçecek şekilde işlemi gerçekleştirelim.
#Öncelikle burada "country", "source", "sex" ve "age_cat" değişkenlerini kullanacağız. Bunlarda bizim yukarıda sıfırıncı indeks, birinci indeks, ikinci indeks, beşinci indeks değişkenleri bize lazım.
[row[0].upper() + "_" + row[1].upper() + "_" +row[2].upper() + "_" + row[5].upper() for row in agg_df.values]

#Veri setine ekleyelim:
agg_df["CUSTOMERS_LEVEL_BASED"] = [row[0].upper() + "_" + row[1].upper() + "_" +row[2].upper() + "_" + row[5].upper() for row in agg_df.values]
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT     CUSTOMERS_LEVEL_BASED
0     bra  android    male   46   59.0   41_66    BRA_ANDROID_MALE_41_66
1     usa  android    male   36   59.0   31_40    USA_ANDROID_MALE_31_40
2     fra  android  female   24   59.0   24_30  FRA_ANDROID_FEMALE_24_30
3     usa      ios    male   32   54.0   31_40        USA_IOS_MALE_31_40
4     deu  android  female   36   49.0   31_40  DEU_ANDROID_FEMALE_31_40

In [345]:
#Sadece customers_level_based ve price değişkenlerini kullanacağımız için çağıralım ve diğer değişkenleri çıkaralım:
agg_df = agg_df[["CUSTOMERS_LEVEL_BASED", "PRICE"]]
agg_df.head()

      CUSTOMERS_LEVEL_BASED  PRICE
0    BRA_ANDROID_MALE_41_66   59.0
1    USA_ANDROID_MALE_31_40   59.0
2  FRA_ANDROID_FEMALE_24_30   59.0
3        USA_IOS_MALE_31_40   54.0
4  DEU_ANDROID_FEMALE_31_40   49.0

In [346]:
#Daha sonra "_" yerine "boşluk" eklemek için şöyle yapıyoruz:
for i in agg_df["CUSTOMERS_LEVEL_BASED"].values:
    print(i.split("_"))

['BRA', 'ANDROID', 'MALE', '41', '66']
['USA', 'ANDROID', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'IOS', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['TUR', 'IOS', 'MALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '31', '40']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'IOS', 'MALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['BRA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'IOS', 'MALE', '0', '18']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['FRA', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '0', '18']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '19', '23']
['USA', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '31', '40']
['TUR', 'ANDROID', 'MALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '0', '18']
['CAN', 'IOS', 'MALE', '0', '18']
['CAN', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '24', '30']
['CAN', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'IOS', 'FEMALE', '0', '18']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['BRA', 'IOS', 'MALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['USA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'MALE', '41', '66']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['FRA', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '41', '66']
['TUR', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['DEU', 'IOS', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['CAN', 'IOS', 'MALE', '0', '18']
['DEU', 'IOS', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '19', '23']
['TUR', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '41', '66']
['USA', 'ANDROID', 'MALE', '0', '18']
['FRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '41', '66']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['FRA', 'IOS', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '41', '66']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '19', '23']
['BRA', 'IOS', 'MALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '24', '30']
['TUR', 'IOS', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'FEMALE', '41', '66']
['DEU', 'ANDROID', 'MALE', '19', '23']
['BRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '0', '18']
['CAN', 'IOS', 'FEMALE', '0', '18']
['TUR', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '41', '66']
['USA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '31', '40']
['FRA', 'ANDROID', 'MALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'MALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '19', '23']
['TUR', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['USA', 'IOS', 'FEMALE', '19', '23']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '0', '18']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['FRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['FRA', 'IOS', 'FEMALE', '0', '18']
['CAN', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'ANDROID', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '0', '18']
['USA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'ANDROID', 'FEMALE', '0', '18']
['USA', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['FRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['CAN', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '19', '23']
['USA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '0', '18']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['DEU', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'MALE', '19', '23']
['CAN', 'IOS', 'MALE', '24', '30']
['TUR', 'IOS', 'MALE', '41', '66']
['CAN', 'IOS', 'MALE', '41', '66']
['BRA', 'ANDROID', 'MALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '19', '23']
['BRA', 'IOS', 'MALE', '19', '23']
['BRA', 'ANDROID', 'FEMALE', '19', '23']
['TUR', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'IOS', 'MALE', '24', '30']
['USA', 'IOS', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['DEU', 'IOS', 'FEMALE', '0', '18']
['FRA', 'IOS', 'MALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'IOS', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '24', '30']
['USA', 'IOS', 'FEMALE', '41', '66']
['USA', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'MALE', '41', '66']
['FRA', 'ANDROID', 'MALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'FEMALE', '19', '23']
['BRA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '0', '18']
['USA', 'IOS', 'FEMALE', '31', '40']
['FRA', 'IOS', 'MALE', '0', '18']
['FRA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'MALE', '31', '40']
['CAN', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'FEMALE', '41', '66']
['CAN', 'IOS', 'FEMALE', '0', '18']
['DEU', 'IOS', 'MALE', '19', '23']
['DEU', 'IOS', 'FEMALE', '24', '30']
['DEU', 'ANDROID', 'MALE', '31', '40']
['DEU', 'ANDROID', 'MALE', '24', '30']
['DEU', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'IOS', 'MALE', '41', '66']
['TUR', 'ANDROID', 'FEMALE', '41', '66']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '41', '66']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '31', '40']
['USA', 'ANDROID', 'MALE', '31', '40']
['BRA', 'IOS', 'MALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'ANDROID', 'MALE', '31', '40']
['TUR', 'IOS', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'MALE', '24', '30']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['USA', 'ANDROID', 'FEMALE', '31', '40']
['DEU', 'ANDROID', 'FEMALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '0', '18']
['BRA', 'IOS', 'FEMALE', '31', '40']
['TUR', 'IOS', 'MALE', '19', '23']
['FRA', 'ANDROID', 'FEMALE', '19', '23']
['DEU', 'ANDROID', 'FEMALE', '0', '18']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'ANDROID', 'MALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '0', '18']
['TUR', 'IOS', 'FEMALE', '31', '40']
['FRA', 'ANDROID', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '41', '66']
['FRA', 'IOS', 'FEMALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '31', '40']
['TUR', 'ANDROID', 'FEMALE', '24', '30']
['USA', 'IOS', 'MALE', '31', '40']
['USA', 'IOS', 'MALE', '24', '30']
['BRA', 'ANDROID', 'FEMALE', '24', '30']
['TUR', 'IOS', 'MALE', '19', '23']
['USA', 'ANDROID', 'MALE', '24', '30']
['BRA', 'IOS', 'MALE', '31', '40']
['BRA', 'ANDROID', 'MALE', '19', '23']
['TUR', 'ANDROID', 'MALE', '19', '23']
['TUR', 'IOS', 'MALE', '41', '66']
['BRA', 'IOS', 'FEMALE', '31', '40']
['BRA', 'IOS', 'MALE', '41', '66']
['USA', 'IOS', 'FEMALE', '31', '40']
['USA', 'IOS', 'FEMALE', '24', '30']
['CAN', 'ANDROID', 'FEMALE', '24', '30']
['FRA', 'ANDROID', 'MALE', '0', '18']
['DEU', 'ANDROID', 'MALE', '24', '30']

In [347]:
agg_df.head()

      CUSTOMERS_LEVEL_BASED  PRICE
0    BRA_ANDROID_MALE_41_66   59.0
1    USA_ANDROID_MALE_31_40   59.0
2  FRA_ANDROID_FEMALE_24_30   59.0
3        USA_IOS_MALE_31_40   54.0
4  DEU_ANDROID_FEMALE_31_40   49.0

In [348]:
#Daha sonra birçok aynı segment olabilir örneğin USA_ANDROID_MALE_0_18 segmentinden birçok sayıda olabilir. Kontrol edelim:
agg_df["CUSTOMERS_LEVEL_BASED"].value_counts() #Bunun ile hangi persona dan kaçar tane var ona bakıyoruz.

USA_ANDROID_MALE_41_66      7
BRA_ANDROID_MALE_24_30      7
USA_ANDROID_MALE_24_30      7
BRA_ANDROID_FEMALE_24_30    7
USA_IOS_FEMALE_24_30        7
USA_ANDROID_FEMALE_24_30    6
BRA_ANDROID_FEMALE_31_40    6
BRA_IOS_MALE_31_40          6
USA_ANDROID_MALE_31_40      6
BRA_IOS_FEMALE_24_30        6
USA_IOS_MALE_24_30          6
USA_ANDROID_FEMALE_19_23    5
USA_IOS_MALE_31_40          5
USA_ANDROID_FEMALE_41_66    5
TUR_IOS_FEMALE_19_23        5
USA_ANDROID_FEMALE_31_40    5
USA_ANDROID_MALE_19_23      5
BRA_ANDROID_FEMALE_19_23    5
USA_IOS_FEMALE_41_66        5
BRA_ANDROID_MALE_19_23      5
USA_IOS_FEMALE_19_23        5
BRA_IOS_MALE_41_66          5
DEU_ANDROID_MALE_31_40      5
BRA_IOS_FEMALE_31_40        5
USA_IOS_MALE_41_66          5
BRA_IOS_FEMALE_0_18         4
BRA_IOS_MALE_0_18           4
TUR_ANDROID_MALE_24_30      4
TUR_ANDROID_FEMALE_0_18     4
DEU_ANDROID_FEMALE_24_30    4
                           ..
FRA_ANDROID_FEMALE_24_30    2
CAN_ANDROID_FEMALE_19_23    2
TUR_ANDROID_FEMALE_31_40    2
TUR_ANDROID_MALE_19_23      2
TUR_IOS_FEMALE_31_40        2
FRA_IOS_MALE_24_30          2
FRA_ANDROID_MALE_41_66      2
TUR_IOS_FEMALE_24_30        2
CAN_IOS_FEMALE_0_18         2
CAN_IOS_FEMALE_24_30        1
CAN_ANDROID_MALE_41_66      1
TUR_IOS_FEMALE_41_66        1
FRA_ANDROID_FEMALE_31_40    1
CAN_IOS_MALE_31_40          1
TUR_IOS_MALE_24_30          1
DEU_IOS_MALE_41_66          1
CAN_ANDROID_FEMALE_41_66    1
FRA_IOS_MALE_41_66          1
FRA_ANDROID_MALE_24_30      1
CAN_IOS_MALE_24_30          1
DEU_IOS_FEMALE_31_40        1
CAN_ANDROID_MALE_0_18       1
TUR_ANDROID_MALE_31_40      1
CAN_ANDROID_MALE_19_23      1
TUR_IOS_MALE_31_40          1
DEU_IOS_MALE_31_40          1
BRA_IOS_MALE_24_30          1
CAN_IOS_MALE_41_66          1
TUR_ANDROID_MALE_41_66      1
CAN_ANDROID_FEMALE_24_30    1
Name: CUSTOMERS_LEVEL_BASED, Length: 109, dtype: int64

In [349]:
#Bunları yani yukarıda örneğin 7 tane count u olanı birleştirmek için groupby ile price değişkeninin mean(ortalamasını) alıyoruz:
agg_df = agg_df.groupby("CUSTOMERS_LEVEL_BASED").agg({"PRICE":"mean"})
agg_df

                              PRICE
CUSTOMERS_LEVEL_BASED
BRA_ANDROID_FEMALE_0_18   35.645303
BRA_ANDROID_FEMALE_19_23  34.077340
BRA_ANDROID_FEMALE_24_30  33.863946
BRA_ANDROID_FEMALE_31_40  34.898326
BRA_ANDROID_FEMALE_41_66  36.737179
BRA_ANDROID_MALE_0_18     34.805861
BRA_ANDROID_MALE_19_23    31.673243
BRA_ANDROID_MALE_24_30    33.413919
BRA_ANDROID_MALE_31_40    34.327381
BRA_ANDROID_MALE_41_66    40.041667
BRA_IOS_FEMALE_0_18       34.900410
BRA_IOS_FEMALE_19_23      36.403846
BRA_IOS_FEMALE_24_30      34.015873
BRA_IOS_FEMALE_31_40      29.875902
BRA_IOS_FEMALE_41_66      35.340909
BRA_IOS_MALE_0_18         34.664559
BRA_IOS_MALE_19_23        34.266043
BRA_IOS_MALE_24_30        33.864865
BRA_IOS_MALE_31_40        31.566138
BRA_IOS_MALE_41_66        31.083694
CAN_ANDROID_FEMALE_0_18   30.896552
CAN_ANDROID_FEMALE_19_23  32.014706
CAN_ANDROID_FEMALE_24_30  19.000000
CAN_ANDROID_FEMALE_41_66  34.000000
CAN_ANDROID_MALE_0_18     36.000000
CAN_ANDROID_MALE_19_23    40.111111
CAN_ANDROID_MALE_24_30    35.009615
CAN_ANDROID_MALE_41_66    37.571429
CAN_IOS_FEMALE_0_18       31.352941
CAN_IOS_FEMALE_24_30      31.727273
...                             ...
TUR_IOS_FEMALE_0_18       34.392157
TUR_IOS_FEMALE_19_23      36.060606
TUR_IOS_FEMALE_24_30      34.000000
TUR_IOS_FEMALE_31_40      32.333333
TUR_IOS_FEMALE_41_66      34.000000
TUR_IOS_MALE_0_18         35.550868
TUR_IOS_MALE_19_23        24.833333
TUR_IOS_MALE_24_30        45.000000
TUR_IOS_MALE_31_40        42.333333
TUR_IOS_MALE_41_66        25.052632
USA_ANDROID_FEMALE_0_18   33.649390
USA_ANDROID_FEMALE_19_23  33.627634
USA_ANDROID_FEMALE_24_30  31.269981
USA_ANDROID_FEMALE_31_40  32.803030
USA_ANDROID_FEMALE_41_66  39.250000
USA_ANDROID_MALE_0_18     34.577185
USA_ANDROID_MALE_19_23    34.270652
USA_ANDROID_MALE_24_30    31.886478
USA_ANDROID_MALE_31_40    35.904762
USA_ANDROID_MALE_41_66    34.339904
USA_IOS_FEMALE_0_18       34.182411
USA_IOS_FEMALE_19_23      35.379048
USA_IOS_FEMALE_24_30      32.845238
USA_IOS_FEMALE_31_40      28.513889
USA_IOS_FEMALE_41_66      34.103727
USA_IOS_MALE_0_18         33.983495
USA_IOS_MALE_19_23        34.901872
USA_IOS_MALE_24_30        34.838143
USA_IOS_MALE_31_40        36.206324
USA_IOS_MALE_41_66        35.750000

[109 rows x 1 columns]

In [352]:
#Daha sonra indeks elde etmek için "reset indeks" yapıyoruz:
agg_df =agg_df.reset_index()
agg_df.head()

   level_0  index     CUSTOMERS_LEVEL_BASED      PRICE
0        0      0   BRA_ANDROID_FEMALE_0_18  35.645303
1        1      1  BRA_ANDROID_FEMALE_19_23  34.077340
2        2      2  BRA_ANDROID_FEMALE_24_30  33.863946
3        3      3  BRA_ANDROID_FEMALE_31_40  34.898326
4        4      4  BRA_ANDROID_FEMALE_41_66  36.737179

In [354]:
#Daha sonra kontrol edelim çoklayan değerler var mı?
agg_df["CUSTOMERS_LEVEL_BASED"].value_counts() #Çoklayan değer YOK.

CAN_ANDROID_FEMALE_24_30    1
BRA_ANDROID_MALE_0_18       1
TUR_IOS_MALE_31_40          1
CAN_ANDROID_MALE_24_30      1
USA_IOS_MALE_19_23          1
BRA_ANDROID_FEMALE_19_23    1
BRA_IOS_FEMALE_0_18         1
USA_IOS_FEMALE_41_66        1
CAN_IOS_FEMALE_0_18         1
CAN_ANDROID_MALE_19_23      1
TUR_ANDROID_MALE_19_23      1
BRA_ANDROID_MALE_31_40      1
CAN_ANDROID_MALE_0_18       1
DEU_IOS_FEMALE_31_40        1
DEU_ANDROID_FEMALE_19_23    1
TUR_IOS_FEMALE_24_30        1
BRA_ANDROID_MALE_19_23      1
DEU_ANDROID_MALE_0_18       1
TUR_ANDROID_MALE_24_30      1
FRA_IOS_MALE_41_66          1
USA_ANDROID_MALE_31_40      1
DEU_IOS_MALE_41_66          1
DEU_IOS_FEMALE_24_30        1
USA_IOS_FEMALE_0_18         1
BRA_ANDROID_FEMALE_31_40    1
DEU_ANDROID_MALE_31_40      1
CAN_ANDROID_FEMALE_0_18     1
DEU_ANDROID_MALE_19_23      1
BRA_ANDROID_MALE_24_30      1
BRA_IOS_MALE_19_23          1
                           ..
FRA_ANDROID_FEMALE_19_23    1
USA_ANDROID_FEMALE_0_18     1
FRA_ANDROID_MALE_24_30      1
BRA_IOS_FEMALE_24_30        1
FRA_IOS_MALE_19_23          1
TUR_ANDROID_FEMALE_24_30    1
FRA_ANDROID_FEMALE_0_18     1
USA_IOS_MALE_31_40          1
USA_ANDROID_MALE_24_30      1
DEU_IOS_FEMALE_19_23        1
BRA_IOS_FEMALE_41_66        1
USA_IOS_MALE_0_18           1
TUR_ANDROID_FEMALE_0_18     1
DEU_ANDROID_FEMALE_0_18     1
CAN_ANDROID_FEMALE_19_23    1
CAN_ANDROID_FEMALE_41_66    1
TUR_ANDROID_FEMALE_31_40    1
BRA_IOS_FEMALE_19_23        1
DEU_ANDROID_FEMALE_41_66    1
CAN_IOS_MALE_24_30          1
BRA_IOS_MALE_31_40          1
USA_ANDROID_MALE_19_23      1
TUR_IOS_MALE_24_30          1
FRA_IOS_MALE_0_18           1
BRA_IOS_MALE_0_18           1
USA_ANDROID_FEMALE_41_66    1
DEU_ANDROID_FEMALE_24_30    1
DEU_IOS_FEMALE_0_18         1
CAN_IOS_MALE_0_18           1
USA_IOS_MALE_24_30          1
Name: CUSTOMERS_LEVEL_BASED, Length: 109, dtype: int64

In [355]:
#Son hali datafraem in:
agg_df.head()

   level_0  index     CUSTOMERS_LEVEL_BASED      PRICE
0        0      0   BRA_ANDROID_FEMALE_0_18  35.645303
1        1      1  BRA_ANDROID_FEMALE_19_23  34.077340
2        2      2  BRA_ANDROID_FEMALE_24_30  33.863946
3        3      3  BRA_ANDROID_FEMALE_31_40  34.898326
4        4      4  BRA_ANDROID_FEMALE_41_66  36.737179

In [233]:
#Benim Yaptığım:

#agg_df['AGE_CAT'] = agg_df['AGE_CAT'].astype(str) #Burada öncelikle string, object türüne dönüştürdüm değişkenimi daha sonra customer sütununa ekledim.
#agg_df['AGE_CAT'].dtypes

KeyError: 'AGE_CAT'

In [208]:
agg_df['CUSTOMERS_LEVEL_BASED'] = agg_df[["SOURCE", "SEX", "COUNTRY", 'AGE_CAT']].agg(lambda x: '_'.join(x).upper(), axis=1)
agg_df.head(20)
agg_df[['CUSTOMERS_LEVEL_BASED', "PRICE"]].head()

      CUSTOMERS_LEVEL_BASED  PRICE
0    ANDROID_MALE_BRA_41_66   59.0
1    ANDROID_MALE_USA_31_40   59.0
2  ANDROID_FEMALE_FRA_24_30   59.0
3        IOS_MALE_USA_31_40   54.0
4  ANDROID_FEMALE_DEU_31_40   49.0

# GÖREV-7
Yeni seviye tabanlı müşterileri (persona) tanımlayınız.

• Yeni seviye tabanlı müşterileri (persona) tanımlayınız ve veri setine değişken olarak ekleyiniz.
• Yeni eklenecek değişkenin adı: customers_level_based
• Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek customers_level_based değişkenini oluşturmanız gerekmektedir.

In [362]:
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"], 4, labels=["D", "C", "B", "A"])
agg_df.groupby("SEGMENT").agg({"PRICE": ["mean", "max", "sum"]})
agg_df.head(300)

     level_0  index     CUSTOMERS_LEVEL_BASED      PRICE SEGMENT
0          0      0   BRA_ANDROID_FEMALE_0_18  35.645303       B
1          1      1  BRA_ANDROID_FEMALE_19_23  34.077340       C
2          2      2  BRA_ANDROID_FEMALE_24_30  33.863946       C
3          3      3  BRA_ANDROID_FEMALE_31_40  34.898326       B
4          4      4  BRA_ANDROID_FEMALE_41_66  36.737179       A
5          5      5     BRA_ANDROID_MALE_0_18  34.805861       B
6          6      6    BRA_ANDROID_MALE_19_23  31.673243       D
7          7      7    BRA_ANDROID_MALE_24_30  33.413919       C
8          8      8    BRA_ANDROID_MALE_31_40  34.327381       B
9          9      9    BRA_ANDROID_MALE_41_66  40.041667       A
10        10     10       BRA_IOS_FEMALE_0_18  34.900410       B
11        11     11      BRA_IOS_FEMALE_19_23  36.403846       A
12        12     12      BRA_IOS_FEMALE_24_30  34.015873       C
13        13     13      BRA_IOS_FEMALE_31_40  29.875902       D
14        14     14      BRA_IOS_FEMALE_41_66  35.340909       B
15        15     15         BRA_IOS_MALE_0_18  34.664559       B
16        16     16        BRA_IOS_MALE_19_23  34.266043       B
17        17     17        BRA_IOS_MALE_24_30  33.864865       C
18        18     18        BRA_IOS_MALE_31_40  31.566138       D
19        19     19        BRA_IOS_MALE_41_66  31.083694       D
20        20     20   CAN_ANDROID_FEMALE_0_18  30.896552       D
21        21     21  CAN_ANDROID_FEMALE_19_23  32.014706       D
22        22     22  CAN_ANDROID_FEMALE_24_30  19.000000       D
23        23     23  CAN_ANDROID_FEMALE_41_66  34.000000       C
24        24     24     CAN_ANDROID_MALE_0_18  36.000000       B
25        25     25    CAN_ANDROID_MALE_19_23  40.111111       A
26        26     26    CAN_ANDROID_MALE_24_30  35.009615       B
27        27     27    CAN_ANDROID_MALE_41_66  37.571429       A
28        28     28       CAN_IOS_FEMALE_0_18  31.352941       D
29        29     29      CAN_IOS_FEMALE_24_30  31.727273       D
..       ...    ...                       ...        ...     ...
79        79     79       TUR_IOS_FEMALE_0_18  34.392157       B
80        80     80      TUR_IOS_FEMALE_19_23  36.060606       A
81        81     81      TUR_IOS_FEMALE_24_30  34.000000       C
82        82     82      TUR_IOS_FEMALE_31_40  32.333333       D
83        83     83      TUR_IOS_FEMALE_41_66  34.000000       C
84        84     84         TUR_IOS_MALE_0_18  35.550868       B
85        85     85        TUR_IOS_MALE_19_23  24.833333       D
86        86     86        TUR_IOS_MALE_24_30  45.000000       A
87        87     87        TUR_IOS_MALE_31_40  42.333333       A
88        88     88        TUR_IOS_MALE_41_66  25.052632       D
89        89     89   USA_ANDROID_FEMALE_0_18  33.649390       C
90        90     90  USA_ANDROID_FEMALE_19_23  33.627634       C
91        91     91  USA_ANDROID_FEMALE_24_30  31.269981       D
92        92     92  USA_ANDROID_FEMALE_31_40  32.803030       C
93        93     93  USA_ANDROID_FEMALE_41_66  39.250000       A
94        94     94     USA_ANDROID_MALE_0_18  34.577185       B
95        95     95    USA_ANDROID_MALE_19_23  34.270652       B
96        96     96    USA_ANDROID_MALE_24_30  31.886478       D
97        97     97    USA_ANDROID_MALE_31_40  35.904762       B
98        98     98    USA_ANDROID_MALE_41_66  34.339904       B
99        99     99       USA_IOS_FEMALE_0_18  34.182411       B
100      100    100      USA_IOS_FEMALE_19_23  35.379048       B
101      101    101      USA_IOS_FEMALE_24_30  32.845238       C
102      102    102      USA_IOS_FEMALE_31_40  28.513889       D
103      103    103      USA_IOS_FEMALE_41_66  34.103727       B
104      104    104         USA_IOS_MALE_0_18  33.983495       C
105      105    105        USA_IOS_MALE_19_23  34.901872       B
106      106    106        USA_IOS_MALE_24_30  34.838143       B
107      107    107        USA_IOS_MALE_31_40  36.206324       A
108      108    108        USA_IOS_MALE_41_66  35.750000       B

[109 rows x 5 columns]

# GÖREV-8
Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.


• 33 yaşında ANDROID kullanan bir Türk kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?
• 35 yaşında IOS kullanan bir Fransız kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?

In [363]:
#33 yaşında ANDROID kullanan bir Türk kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?
new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["CUSTOMERS_LEVEL_BASED"] == new_user].head(1)

    level_0  index     CUSTOMERS_LEVEL_BASED      PRICE SEGMENT
72       72     72  TUR_ANDROID_FEMALE_31_40  41.833333       A

In [364]:
#35 yaşında IOS kullanan bir Fransız kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?
new_user = "FRA_IOS_FEMALE_31_40"
agg_df[agg_df["CUSTOMERS_LEVEL_BASED"] == new_user].head(1)

    level_0  index CUSTOMERS_LEVEL_BASED      PRICE SEGMENT
63       63     63  FRA_IOS_FEMALE_31_40  32.818182       C